<script src="
https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/dist/medium-zoom.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/dist/style.min.css
" rel="stylesheet">

<script>
	const navElement = document.createElement('nav');
	navElement.innerHTML = `
		<a class="name" href="/">Vikram Singh</a>

		<div class="nav-links">
			{% for link in userComputed.navLinks %}
				<a href="{{ link.path }}">{{ link.name }}</a>
			{% endfor %}
		</div>
	`;

	document.body.prepend(navElement);
</script>
